/* index.css */

/* Elimina los márgenes y el padding por defecto */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura que el html y body ocupen toda la pantalla */
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
}

/* Eliminar márgenes del body y garantizar que ocupe toda la pantalla */
body {
  margin: 0;
  padding: 0;
}

/* Asegura que las imágenes no sobrepasen su contenedor */
img {
  max-width: 100%;
  height: auto;
}

/* Si usas contenedores, puedes querer establecer su comportamiento también */
.container {
  margin: 0 auto; /* Centra los contenedores si es necesario */
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


